.bomber_game[v-cloak] > * {
    display: none;
}

.bomber_game[v-cloak]::before {
    content: " ";
    display: block;
    width: 100%;
    height: 16px;
    background: no-repeat center url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
    padding-top: 50px;
}

.bomber_game a {
    font-size: 14px;
}

.bomber_game .green {
    color: #28ad62;
}

.bomber_game .orange {
    color: #e88f41 ;
}

.bomber_game {
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
}

.bomber_game_status_bar {
    text-align: center;
    border: 1px dotted grey;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 0 5px;
}

.bomber_game_status_bar_item {
    display: inline-block;
    padding: 10px 3px;
    font-size: 15px;
}

.bomber_game_table {
    display: inline-block;
    padding: 10px 0;
}

.bomber_game_row {
    clear: both;
}

.bomber_game .cell {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    cursor: pointer;
    margin: 0px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    float: left;
    font-weight: bold;
}
