.bomber_game[v-cloak] > * {
    display: none;
}

.bomber_game[v-cloak]::before {
    content: " ";
    display: block;
    width: 100%;
    height: 16px;
    background: no-repeat center url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
    padding-top: 50px;
}

.bomber_game a {
    font-size: 14px;
}

.bomber_game .green {
    color: #28ad62;
}

.bomber_game .orange {
    color: #e88f41 ;
}

.bomber_game .gold {
    color: gold ;
}

.bomber_game .red {
    color: red ;
}

.bomber_game .blue {
    color: #5f5fe3 ;
}

.bomber_game {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    min-width: 500px;
    touch-action: manipulation;
}

.bomber_game_status_bar {
    text-align: center;
    border: 1px dotted grey;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 0 5px;
}

.bomber_game_status_bar_item {
    display: inline-block;
    padding: 10px 3px;
    font-size: 15px;
}

.bomber_game_table {
    display: inline-block;
    padding: 10px 0;
}

.bomber_game_row {
    clear: both;
}

.bomber_game .cell {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    cursor: pointer;
    margin: 0px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    float: left;
    font-weight: bold;
    position: relative;
}

.bomber_game .cell i {
    font-size: 25px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bomber_game .cell.hero.exit_door i {
    width: 50%;
}

.bomber_game .cell.hero {
    color: #28ad62;
}

.bomber_game .cell.monster {
    color: red;
}

.bomber_game .bomb {
    color: black;
    z-index: 1;
}
.bomber_game .improver {
    font-size: 18px!important;
}
.bomber_game .bomb_improver {
    color: black;
}
.bomber_game .hero_improver {
    color: #28ad62;
}

.bomber_game .cell.hero .bomb {
    font-size: 15px;
    text-align: right;
    line-height: 70px;
}

.bomber_game .cell.explode {
    color: red;
    background: yellow;
}

.bomber_game .cell.earth {
    background: burlywood;
}

.bomber_game .cell.wall {
    background: grey;
}

.bomber_game .exit_door {
    color: brown;
}

.bomber_game .cell.exit_door.open {
    color: brown;
}

.bomber_game .cell.hero.exit_door i.exit_door {
    left: 1%;
}

.bomber_game .cell.hero.exit_door i {
    font-size: 20px;
}

.bomber_game .cell.hero.exit_door .hero {
    font-size: 20px;
    right: 0%;
    left: auto;
}

.bomber_mobile_gamepad{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 230px;
    opacity: 0.15;
}

.bomber_mobile_gamepad_item{
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    border-radius: 50px;
    outline: snow;
}

.bomber_mobile_gamepad_item.bomber_mobile_gamepad_item__top{
    left: 80px;
    top: 0;
}

.bomber_mobile_gamepad_item.bomber_mobile_gamepad_item__right{
    left: 160px;
    top: 65px;
}

.bomber_mobile_gamepad_item.bomber_mobile_gamepad_item__bottom{
    left: 80px;
    bottom: 0;
}

.bomber_mobile_gamepad_item.bomber_mobile_gamepad_item__left{
    left: 0;
    top: 65px;
}

.bomber_mobile_gamepad_item.bomber_mobile_gamepad_item__place_bomb{
    right: 0px;
    top: 64px;
    width: 200px;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    color: black;
}